*{
  margin:0;
  padding:0;
 box-sizing: border-box;
}
body{max-height:100vh;
max-width:100vw;
font-family: "Space Mono", monospace;
overflow: hidden;
}

nav{
  position: fixed;
  width:100%;
  background: linear-gradient(rgba(6, 6, 6, 0.692),rgba(6, 6, 6, 0.355),rgba(255, 255, 255, 0)) ;
}

nav ul{
  display: flex;
  align-items: center;
  color:#ebe9e7;
  justify-content: end;
  list-style: none;
  }
nav ul li{
  margin-top:20px;
  margin-right: 20px;
  margin-left: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  z-index: 40;
  
}
nav ul li img{
  width:20px}


.factContainer{
  position: absolute;
  background-color: rgba(21, 20, 23,0.8);
  color:#ebe9e7;
  width:80vw;
  padding:15px;
  border-radius: 5px;
  left:30px;
  top:70px;
  box-shadow: 0 0 20px 3px black;
}
.factContainer span a{
  color:rgb(193, 193, 254);
  font-size: 0.7rem;
  float:right
}
.imgContainer{background-color: rgb(21, 20, 23);
}
.spaceImg{width:100vw;
height:100vh;
object-fit:contain;

}

.sideBar{
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  display: flex;
  gap:20px;
  padding:20px;
  text-align:justify;
  flex-direction: column;
  width:70vw;
  background-color: rgb(21, 20, 23);
  color:white;
  box-shadow: 0 0 20px 3px black;
  /*transition: translate 0.5s;*/
  translate: 100%;
  z-index: 40;
}
.sideBar p{font-size: 0.8rem;}


.sideBar img{width:30px;
cursor: pointer;
}


.footer{
  position: absolute;
  bottom:0;
  left:0;
  padding:20px 20px;
  color:#ebe9e7;
  font-size: 0.7rem;
  background: linear-gradient(360deg,rgba(6, 6, 6, 0.692),rgba(6, 6, 6, 0.355),rgba(255, 255, 255, 0));
  width:100%;
}
.footer p{
  font-size: 0.7rem;
 
}
.footer img{width:20px;
  margin-left: 5px;
  outline: none;
cursor: pointer;
}

.footer p:nth-of-type(1){
  display:flex;
  align-items: center;
}
.infoContainer{background-color: rgba(21, 20, 23,0.8);
padding: 10px;
border-radius: 5px;
position: absolute;
bottom: 70px;
right:0;
margin-right: 10px;
box-shadow: 0 0 20px 3px black;
width:60vw}

.noDataDiv{width:100vw;
height:100vh;
background-color: rgb(21, 20, 23);
display: flex;
align-items: center;
justify-content: center;}
.noDataDiv img{
  animation: spin 2s linear infinite;
  opacity: 0.8;
}
@keyframes spin {
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg);}
}

@media (min-width:650px){
.sideBar{width:40vw;
translate: 0%;

}
.sideBar img{
  display:none}
 .sideBar p{font-size: 0.7rem;}
 
.spaceImg{
  width:60vw;
}
.lastList{display:none}
nav ul{justify-content: flex-start;}
nav ul li{margin:20px 20px;
  font-size: 1.2rem;
}
.footer{padding:20px 20px;
font-size: 1rem;}
.footer p{font-size: 0.8rem;}
.footer img{width:30px}
.infoContainer{width:30vw;
bottom:70px;
left:calc(20vw + 50px);
}
.factContainer{width:50vw;
left:20px}
}
  
@media (max-width:450px){
  .sideBar{width:80vw}
  .sideBar p{font-size: 0.8rem;}
}

@media (min-width:1100px){
  .sideBar p{font-size: 0.85rem;}
}

