*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{height:100vh;
width:100vw;
font-family: "Space Mono", monospace;
}

nav{
  position: fixed;
  width:100%;
  background: linear-gradient(rgba(6, 6, 6, 0.692),rgba(6, 6, 6, 0.355),rgba(255, 255, 255, 0)) ;
}

nav ul{
  display: flex;
  align-items: center;
  color:#ebe9e7;
  justify-content: end;
  list-style: none;
  }
nav ul li{
  margin:20px 10px;
  cursor: pointer;
  font-size: 0.7rem;
}
nav ul li img{
  width:20px}


.lastList{
  display: flex;
  align-items: center;
  
}

.spaceImg{width:100vw;
height:100vh;
object-fit: cover;}

.sideBar{
  position: absolute;
  top:0;
  bottom: 0;
  right:0;
  display: flex;
  gap:20px;
  padding:20px;
  text-align:justify;
  flex-direction: column;
  width:60vw;
  background-color: rgb(21, 20, 23);
  color:white;
  box-shadow: 0 0 20px 3px black;
  /*transition: translate 0.5s;*/
  translate: 100%;
  z-index: 40;
}
.sideBar p{font-size: 0.7rem;}


.sideBar img{width:30px;
cursor: pointer;
}


.footer{
  position: absolute;
  bottom:0;
  left:0;
  padding:20px 10px;
  color:#ebe9e7;
  font-size: 0.7rem;
  background: linear-gradient(360deg,rgba(6, 6, 6, 0.692),rgba(6, 6, 6, 0.355),rgba(255, 255, 255, 0));
  width:100%;
}
.footer p{
  font-size: 0.7rem;
 
}
.footer img{width:20px;
  margin-left: 5px;
  outline: none;
cursor: pointer;
}

.footer p:nth-of-type(1){
  display:flex;
  align-items: center;
}
.infoContainer{background-color: black;
padding: 10px;
border-radius: 5px;
position: absolute;
bottom: 70px;
right:0;
margin-right: 10px;
box-shadow: 0 0 20px 3px black;
width:60vw}

@media (min-width:650px){
.sideBar{width:40vw;
translate: 0%;}
.sideBar img{
  display:none}
 .sideBar p{font-size: 0.7rem;}
 
.spaceImg{
  width:60vw}
.lastList{display:none}
nav ul{justify-content: flex-start;}
nav ul li{margin:20px 20px;
  font-size: 1rem;
}
.footer{padding:20px 20px;
font-size: 1rem;}
.footer p{font-size: 0.8rem;}
.footer img{width:30px}
.infoContainer{width:50vw;
bottom:70px;
right:calc(30vw + 50px)}
}
  
